<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script></head>
<body>
    <style> 
        body {background-color: black;color: white;} 
            h1 {color: blue;} 
            li {color: gray}
            input{float: left; display: block}
    </style>
    
  <h2 class="text-center">My first Express app</h2>
  <div class="container">
      <div class="row">
          <div class="col-md-5">
                <h3>List of quotes</h3>
                <ul class="quotes" class="list-group">
                    <% for(var i=0; i<quotes.length; i++) {%>
                        <li class="quote" class="list-group-item">
                            <span style="font-weight: bold; color:white;"><%= quotes[i].name %></span>
                            <%= quotes[i].quote %>
                        </li>
                    <% } %>
                </ul>
          </div>
          <div class="col-md-7">
            <div>
                <button id="update" class="btn btn-success btn-sm"> Edit taras quote </button>
            </div>
            <div>
                <button id="delete"  class="btn btn-warning btn-sm"> Delete empty quote </button>
            </div>
            <h3New quote></h3>
            <form action="/quotes" method="POST">
                <input type="text" class="form-control" placeholder="name" name="name">
                <input type="text" class="form-control" placeholder="quote" name="quote">
                <button type="submit" class="btn btn-primary btn-sm">add guote</button>
            </form>
          </div>
      </div>
  </div>

  <script src="main.js"></script>

</body>
</html>